@{
    ViewBag.Title = "Ödipussy";
}
@if (ViewBag.Answer != null)
{
    <h4>Output</h4>
    <div class="alert alert-info">
        @Html.Raw(ViewBag.Answer)
    </div>
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>Zahl herausfinden</h4>
        <div class="form-group">
            <label class="col-md-2">Index</label>
            <div class="col-md-10">
                <input name="index" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Herausfinden" class="btn btn-default" />
    </div>
}
<hr />
@using (Html.BeginForm("AddRule", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Neue Regel</h4>
        <div class="form-group">
            <label class="col-md-2">Regeltyp</label>
            <div class="col-md-10">
                <select name="rule" class="form-control">
                    <option value="NumberSubsitutionRule">
                        Zahl mit Zahl ersetzen
                    </option>
                    <option value="WordSubstitutionRule">
                        Zahl mit Wort ersetzen
                    </option>
                    <option value="DigitSubstitutionRule">
                        Ziffer ersetzen
                    </option>
                    <option value="NumberCalculationRule">
                        Zahl verändern
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Regeltrigger</label>
            <div class="col-md-10">
                <input type="text" name="regex" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Regelinput</label>
            <div class="col-md-10">
                <input type="text" name="ruleData" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Hinzufügen" class="btn btn-success" />
    </div>
}
<hr />
<h4>Spiel Zurücksetzen</h4>
@Html.ActionLink("Spiel zurücksetzen", "ResetGame", "Home", null, new { @class = "btn btn-danger" })
